# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tap

/test-results/*
/test-results/.*
/playwright-report/*
/playwright-report/.*

eslint-*.json

INSTRUCTIONS.md
test-*.txt
test_*.txt
test-*.json
test_*.json
debug-*.txt
debug_*.txt
debug-*.json
debug_*.json
